body {
  padding-top: 56px;
  font-family: 'Montserrat', sans-serif;
}

/************************* Header ************************/

header{
  font-family: 'Comic Neue', cursive;
}

.topImg{
  text-align:left;
  transform: rotate(-20deg);
}

.hrHeader{
  background-color:rgb(107, 107, 107);
}

.slogan{
  position:relative;
  top:70px;
}

/************************* Navigation Bar ************************/

.navbar{
  background-color: #28A745;
  font-family: 'Comic Neue', cursive;
}

/************************* Contact content ************************/
.iconContact{
  color:#28A745;
  border-right:solid 1px rgb(218, 218, 218);
}

.fa-phone{
  padding:70px 0 0 0;
  transform: rotate(800deg);
  position:relative;
  left:40px;
}

.fa-envelope{
  padding:15px 0 0 0;
}

.info{
  padding:10px 0;
}

/************************* Summary ************************/

.summary{
  font-size: 1.2rem;
  color:rgb(61, 61, 61);
}

/************************* Main Services ************************/

.mainServices{
  text-align:center;
}

.main-service{
  margin:30px 50px;
}

.card-title{
  font-weight: 700;
}

.hr-mainServices:after{
  content:"Main Services";
  padding:0 20px;
  background-color:white;
  position:relative;
  bottom:14px;
}

.card-body{
  height:80px;
  padding:25px 0 0;
  margin:0;
}

/************************** description *****************************/

.div-description{
  line-height: 1.6;
}

.div-square {
  border: solid 1px #28A745;
  text-align: center;
  margin: auto;
  width: 600px;
  height: 600px;
}